/* Evidenzia tutti gli elementi invisibili */
* {
    outline: 1px solid black
}

header, main, footer {
    outline: 3px solid red; /* Evidenzia in rosso i principali contenitori */
    background-color: black; /* Sfondo semitrasparente per renderli visibili */
}