:root {
    --color-1: #090b12;
    --color-2: #000000;
    --color-3: #141922;
    --color-4: #282828;
    --color-5: #797b81;
    --color-6: #adff2e;
}

html {
    font-family: sans-serif;
}

 body {
    background-color: var(--color-1);
    color: white
 }

 .layout-top {
    display: flex;
    height: 90vh;
    border: 3px solid lightgreen;
 }

 .layout-bottom {
    display: flex;
    height: 10vh;
    border: 3px solid lightcoral;
 }

 .layout__sidebar {
    flex-basis: 10%;
    border: 3px solid lightcyan;
 }

 .layout__main {
    flex-basis: 90%;
    border: 3px solid lightsalmon;
 }

 .layout__cta {
    border: 3px solid lightseagreen;
    padding: 20px;
    text-align: right;
    text-transform: uppercase;
 }
